.header {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 17px;
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: -15px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.hr-header {
    margin-top: -13px;
    border: 1px solid rgb(221, 221, 221);
}

.header-left {
    display: flex;
    justify-content: space-around;
}

.header-right {
    display: flex;
    justify-content: space-around;
}

.track-order {
    height: 100px;
    display: flex;
    align-items: center;
}

.track-order img {
    height: 63px;
    width: 63px;
    padding: 0px;
}


.whish-list {
    display: flex;
    align-items: center;
    height: 100px;
}

.whish-list img {
    height: 43px;
    width: 80px;
    padding-top: 10px;
    margin-left: 10px;
}

.logo {
    height: 200px;
    display: flex;
    align-items: center;
}

.logo img {
    height: 217px;
    width: 237px;
    display: flex;
    align-items: center;
}

.signin-register {
    display: flex;
    align-items: center;
    height: 100px;
}

.signin-register img {
    height: 40px;
    width: 40px;
    padding-top: 10px;
}


.cart {
    display: flex;
    align-items: center;
    height: 100px;
}


.cart img {
    height: 50px;
    width: 50px;
    padding-top: 20px;
    margin-left: 17px;
}