.recommend {
    margin: 137px 300px;
    display: flex;
    flex-direction: column;
}
.recommend h2 {
    font-size: 35px;
}

.recommend-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
}